@font-face {font-family: hphp;
            src: url("RDV.ttf")}

h1 {font-size: 100px;
    text-align: center;
    color: white;
    text-decoration: underline}

a {text-decoration: none;
   font-size: 30px;
   color: white;
   text-align: center;padding: 10px;             
   border: blue 2px solid;
   display: inline-block;
   width: 150px;
   height: 50px;
   background:linear-gradient(135deg, #5b247a 0%,#1bcedf 100%);}

a:hover {color:aqua;
         text-decoration: underline}

* {font-family: hphp}

h2 {color: white;
    text-decoration: underline;
    font-size: 50px;
    margin-left: 50px}

#box {color: white;
      font-size: 30px;
      border: 5px #990033 solid;
      border-radius: 25px;
      padding: 5px;
      background-color: red}

p {color: white;
   font-size: 30px}

img#img {margin-left: auto;
         margin-right: auto;
         display: block;}

table {color: white;
       border-collapse: collapse;
       margin: 6px;
       text-align: center;
       margin-left: auto;
       margin-right: auto;
       font-size: 30px;
       background-color: black}

td {border: 2px white solid;
    padding: 10px}

div {border: 4px white solid;
     border-radius: 25px;
     padding: 10px;
     margin: 10px}

.big {font-size: 40px;
      text-decoration: underline}

.img {display: block;
      margin-left: auto;
      margin-right: auto}

.imgg {display: block;
       margin-left: auto;
       margin-right: auto}