@font-face {font-family: hphp;
            src: url("kdv.ttf");}

@font-face {font-family: hp;
            src: url("sz.otf");}

body {background:linear-gradient(135deg, #341010 0%,#b03737 100%);
      background-repeat: no-repeat;
      background-size: cover;}

* {font-family: hp;}

h1 {color: lime;
    font-size: 70px;
    text-align: center;
    text-decoration: underline;
    margin-top: 0px;}

img {display: block;
     margin-left: auto;
     margin-right: auto;}

h2 {color: yellow;
    font-size: 50px;
    margin-left: 2%;
    text-decoration: underline;}

p {color: yellow;
   font-size: 30px;
   width: 50%;
   margin-left: 2%;}

#img {float: right;
      width:50%;
      margin-left: 10px;}

#box {border: 4px white solid;
      border-radius: 25px;
      box-shadow: 4px 4px 4px 4px black;
      margin: 10px}

#back {color: orange;
        font-family: hphp;
        font-size: 60px;
        position: sticky;
        top: 10px;
        text-decoration: none;}

#back:hover {color: aqua;}

#back:active {color: red;}