@font-face {font-family: hphp;
            src: url("OL.ttf")}

body {background:linear-gradient(135deg, #341010 0%,#b03737 100%);
      background-repeat: no-repeat;
      background-size: cover;}

* {font-family: hphp;}

h1 {color: lime;
    font-size: 50px;
    text-align: center;}

a {text-decoration: none;
   font-size: 40px;
   color: brown;
   text-align: center;padding: 10px;             
   border: blue 2px solid;
   display: inline-block;
   width: 150px;
   height: 32px;
   background:linear-gradient(135deg, #ccd1d9 0%,#8f99a7 100%);
   margin-bottom: 20px}

a:hover {text-decoration: underline;
         color: red}

a:active {color:yellow}
