* {color: white;
   font-family: gabriola;}

h1 {font-size: 50px;
    text-decoration: underline;
    text-align: center;}

h2 {font-size: 40px;}

a {text-decoration: none;
   font-size: 50px;
   margin-left: 20px;}

a:hover {color: aqua;
         text-decoration: underline;}

img {margin-left: auto;
     margin-right: auto;
     display: block;
     margin-bottom: 20px}

li>a {font-size: 50px}

#div {border: 4px white solid;
      border-radius: 25px;
      padding: 20px;
      margin-bottom: 20px}