@font-face {font-family: hphp;
            src: url("kdv.ttf")}

@font-face {font-family: hp;
            src: url("sz.otf")}

body {background:linear-gradient(135deg, #341010 0%,#b03737 100%);}

h1 {font-size: 70px;
    text-align: center;
    color: #00F00F;
    text-decoration: underline}

* {font-family: hp}

#box {border: 4px white solid;
      border-radius: 25px;
      box-shadow: 4px 4px 4px 4px black;
      margin: 10px}

h2 {font-size: 35px;
    color: yellow;
    margin-left:  5%;
    text-decoration: underline}

img {margin-left: auto;
     margin-right: auto;
     display:block;
     margin-bottom: 10px}

#lor {border: 5px #990033 solid;
      border-radius: 25px;
      color:white;
      font-size: 50px;
      background-color: red;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-top: 10px}

p {color: yellow;
   font-size: 40px;
   margin-left: 2%}

#back {color: orange;
        font-family: hphp;
        font-size: 60px;
        position: sticky;
        top: 10px;
        text-decoration: none;}

#back:hover {color: aqua;}

#back:active {color: red;}