@font-face {font-family: hphp;
            src: url("OL.ttf")}

body {background:linear-gradient(135deg, #341010 0%,#b03737 100%);}

h1 {font-size: 70px;
    text-align: center;
    color: #00F00F;
    text-decoration: underline}

a {text-decoration: none;
   font-size: 40px;
   color: brown;
   text-align: center;padding: 10px;             
   border: blue 2px solid;
   display: inline-block;
   width: 150px;
   height: 32px;
   background:linear-gradient(135deg, #ccd1d9 0%,#8f99a7 100%);
   margin-bottom: 20px}

a:hover {text-decoration: underline;
         color: red}

* {font-family: hphp}

#box {border: 4px white solid;
      border-radius: 25px}

h2 {font-size: 35px;
    color: yellow;
    margin-left:  5%;
    text-decoration: underline}

img {margin-left: auto;
     margin-right: auto;
     display:block}

#lor {border: 5px #990033 solid;
      border-radius: 25px;
      color:white;
      font-size: 50px;
      background-color: red;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-top: 10px}

p {color: yellow;
   font-size: 40px;
   margin-left: 2%}