a {
    text-decoration: none;
    color: white;
    font-size: 50px;
    font-family: fantasy;
}

td {
    font-family: fantasy;
    font-size: 50px;

}

table {
    margin-left:auto;
    margin-right: auto;
    border-spacing: 20px;


}



body {
    border: 0px;
    padding: 0px;



}

a.fooldal {
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    width: 200px;
    height: 32px;
    text-align: center;
    display: inline-block;
    background-size: 100% 300%;
    color: grey;
    font-size: 25px;   
    text-decoration: none;
    background-image: url("../../img/legi/gomb.png")
       
}

a.fooldal:hover{
    background-position: 0px -32px;
}




