a {
    text-decoration: none;
    color: white;
    font-size: 50px;
    font-family: fantasy;
}

td {
    font-family: fantasy;
    font-size: 50px;
    
}

table {
        margin-left:auto;
    margin-right: auto;
    border-spacing: 20px;
    
    
}



body {
    border: 0px;
    padding: 0px;
    
    
    
}






