@font-face {font-family: vas;
            src: url("vas.ttf")}

body {
    margin: 0px;
    border: 0px;
    padding: 0px;

}

* {color:white;
   font-family: vas}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

h1 {
    text-align: center;
    font-size: 50px
}

td {padding: 10px}

a {text-decoration: none}