@font-face {font-family: vas;
            src: url("vas.ttf")}

body {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

* {color:white;
   font-family: vas}

h1 {
    text-align: center;
    font-size: 50px
}

a {text-decoration: none}

img {display: block;
     width: calc(32.6666% - 10px);
     float: left ;
     margin-right: 2%}

img:last-child {margin-right: 0%}

p {display: inline-block;
   font-size: 50px}

#legi {margin-left: 12%}

#foldi {margin-left: 27%}

#vizi {margin-left:29%}