h1{
    padding: 10%;
}

table {
    border-collapse: collapse;
    margin: 6px;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}

body{
    padding: 0px;
    margin: 0px;
}

img{
    width: calc(50% - 25px);
    margin: 10px;
    border-radius: 10%;
}

table{
    width: 100%    
}

td{
    width: 50%;
    text-decoration: none;
}

p{
    font-size: 30px;
}

a{
    text-decoration: none;
}

.cim{
    font-size: 50px;
    text-decoration: none;
    color: black;
}

