h1, h2, p, a, div, td {color: white;
                       font-family: gabriola}

div#box {display:inline;}

div#box>ul {
    font-size:30px;
    display:inline-block;
    margin-left:15%;   
    padding: 5px;
    color:white;
    text-align:center;
    border: 3px white solid;
    border-radius: 25px;}

div#box>ul>li {display:inline-block;}

div#box>ul>li a {color:white;
                 text-decoration: none;
                 font-size:40px}

div#box>ul>li a:hover {color:blue}

h1 {text-align: center;
    font-size: 60px;
    text-decoration: underline}

#id {font-size: 50px}

h2 {font-size: 40px;
    margin-left: 5%;
    text-decoration: underline}

.img {margin-left: 20%}

p {margin-left: 20%;
   font-size: 30px;
   margin-top: 1px}

.le {margin-left: 250%;
     display:block}