div#menu {display:inline;}

div#menu>ul {
    font-size:30px;
    display:inline-block;
    margin-left:170px;   
    padding: 5px;
    color:white;
    text-align:center;
    border: 3px white solid;
    border-radius: 25px;}

div#menu>ul>li {display:inline-block;
                font-size:30px;}

div#menu>ul>li a {color:white;
                  text-decoration: none;
                  font-size:40px}

div#menu>ul>li a:hover {color:blue;}

table {margin-left:auto;
       margin-right:auto;
       color:white;
       font-size:50px;
       font-family: gabriola}

h1 {margin-left:500px; text-decoration: underline; color:white; font-size:60px; font-family:gabriola}

h2 {color:white;
    font-family:gabriola;
    font-size: 60px;
    margin-left:100px;
    text-decoration: underline;
    padding:0px;
    margin-bottom:0px}

p {color: white;
   font-family: gabriola;
   font-size: 30px}

div {display:inline-block;
     color: white;
     font-family: gabriola;
     text-align: center;
     font-size: 50px}

.center {margin-left:auto; margin-right:auto}

.center2 {display: inline-block;
          margin-left: 100px;
          margin-right: auto}

.center3 {display: inline-block;
          margin-left:75px;
          margin-right: auto}

.center4 {display: inline-block;
          margin-left:250px;
}

.center5 {display:inline-block;
          margin-left:220px}

.center6 {display:inline-block;
          margin-left:190px}

.center7 {display:inline-block;
          margin-left:270px}

.center8 {display:inline-block;
          margin-left:285px}

.center9 {display:inline-block;
          margin-left:110px}

#centurio {margin-left:975px}

.menu2 {margin-left:50px;
        font-size:30px;
        color:white;}

.menu2:hover {color:blue;}

.centerX {margin-left:550px}

.center10 {margin-left:150px;
           display: inline-block}

.center11 {margin-left:320px;
           display: inline-block}

#2020 {display:inline}

#center12 {margin-left:100px;}

#center13 {margin-left:257px;}

.new {color:red; background-color: orange; display: inline-block}

#center14 {margin-left:200px; display: inline-block}

#center15 {margin-left:475px; display: inline-block}

#center16 {margin-left:100px; display:inline-block}

#center17 {margin-left:130px}

#center18 {margin-left:225px}

#center19 {margin-left:200px; display:inline-block}

#center20 {margin-left:200px}

#center21 {margin-left:300px; display:inline-block}

#center22 {margin-left:475px; display:inline-block}

#center23 {margin-left:100px; display:inline-block}

#center24 {margin-left:150px}

.center25 {margin-left: 155px; display: inline-block}

.center26 {margin-left: 350px; display:inline-block}

#center27 {margin-left: 125px; display: inline-block}

#center28 {margin-left: 360px; display: inline-block}